
<ul>
    <div class = "scrollable" style="margin-top: 10px">
      <li><div class="slide">
        <article>
        <img src="assets/pasta.jpg" alt=<%= title %> id ="logo2">
        <div class="text">
          <h3> <%= title %></h3>
          <div class="text2"><p>Fast and easy spaghetti with tomato sauce for weeknight dinners</p></div>
          <button data-toggle="modal" data-target="#myModal">		
        <a>View</a>
        </button>
        </div>
        </article></div></li>
        <%- include('./modal') %>
      </div>
 </ul>