<link rel="stylesheet" type="text/css" href="styles/nav.css">

<ul class="nav navbar-nav navbar-right">
    <li><a href="/">Home</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/community">Community</a></li>
</ul>