<!DOCTYPE html>

<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Meal Planning App</title>
		<link rel="stylesheet" type="text/css" href="../../styles/index.css" />
	</head>
	<body>
		<h1>Hello World</h1>
	</body>
</html>